<html>
    <head>
        <title>Google</title
        <link rel="icon" href="/assets/notifbell.png">
    </head>
    <body>

      <div class="wrapper">

        <div>
        <div class="header">

          <div class="header_left">
            <img class="avatar" <%= image_tag "logo.png" %>
            <div id="website_name">
              <h2>Le site de Quentin</h2>
            </div>
            <button class="navbar_button" onclick="getToPage('<%= home_index_path %>')">Home</button>
            <button class="navbar_button" onclick="getToPage('<%= home_page1_path %>')">Page 1</button>
            <button class="navbar_button" onclick="getToPage('<%= home_page2_path %>')">Page 2</button>
          </div>

          <div class="header_right">
            <a class="header_link" href="">Quentin</a>
            <img class="avatar" <%= image_tag "avatar.png" %>
          </div>

        </div>

        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Article')", id="defaultOpen">Article</button>
          <button class="tablinks" onclick="openCity(event, 'Author')">Author</button>
        </div>

        </div>

        <div class="mainblock">

          <!-- Tab links -->


          <div id="Article" class="tabcontent">
          <div id="title">
            <h1>Titre</h1>
          </div>
          <div class="main_content">
            <div class="content_image">
              <img id="img" <%= image_tag "program.png" %>
            </div>
            <div class=content_text>
              <p>Blablabla</p>
            </div>
          </div>
          </div>

          <div id="Author" class="tabcontent">
          <div>
            <div class="card">
              <img class=card_img alt="Avatar" <%= image_tag "avatar.png" %>
              <div class="card_container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
              </div>
            </div>
          </div>
          </div>

        </div>

        <div class="footer">

          <div class="first_row">
            <span class="France">Belgique</span>
          </div>

          <div class="second_row">
            <div class="left">
              <div><a class="left_footer_link" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fries_2.jpg/1200px-Fries_2.jpg">Gem</a></div>
              <div><a class="left_footer_link" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fries_2.jpg/1200px-Fries_2.jpg">Les</a></div>
              <div><a class="left_footer_link" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fries_2.jpg/1200px-Fries_2.jpg">Frites</a></div>
            </div>
            <div class="right">
              <div><a class="right_footer_link" href="http://paleospirit.com/wp-content/uploads/2012/04/mayo-up-close-1024x731.jpg">Avec</a></div>
              <div><a class="right_footer_link" href="http://paleospirit.com/wp-content/uploads/2012/04/mayo-up-close-1024x731.jpg">De</a></div>
              <div><a class="right_footer_link" href="http://paleospirit.com/wp-content/uploads/2012/04/mayo-up-close-1024x731.jpg">La</a></div>
              <div><a class="right_footer_link" href="http://paleospirit.com/wp-content/uploads/2012/04/mayo-up-close-1024x731.jpg">Mayo</a></div>
            </div>
          </div>

        </div>

      </div>

      <script>
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
      </script>

    </body>
</html>
